@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}
.sidebar{
    width: 22%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    position: fixed;
    background-color: rgb(251, 151, 2);
    color: white;
}
.hamburger{
    width: 50px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 20px;
    top: 10px;
}
.hamburger div{
    width: 100%;
    height: 3px;
    background-color: rgb(254, 179, 30);

}
.sidebar .profile{
    width: 150px;
    height: 150px;
    /* margin: auto; */
    border: 1px solid rgb(217, 214, 214);
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}
.sidebar .profile img{
    width: 100%;
    height: 100%;
}
.sidebar .profile-name p:nth-child(1){
    font-size: 20px;
}
.sidebar .profile-name{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}
.sidebar .listing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgb(217, 214, 214);
    border-radius: 10px;
    overflow: hidden;
}
.sidebar .listing .item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid rgb(217, 214, 214);
    cursor: pointer;
}
.sidebar .listing .item:hover{
    /* background: -webkit-linear-gradient(left, rgb(254, 220, 28), rgb(251, 217, 29), rgba(255, 217, 0, 0.966)); */
    background-color: rgba(255, 255, 255, 0.162);
    
    color: white;
}
.sidebar .listing .item i{
    padding-right: 10px;
}
.sidebar .listing .item button{
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.sidebar .listing .item button i{
    font-size: 18px;
    color: white;
}
.sidebar .listing .item button p{
    font-size: 15px;
    color: white;
}

.main{
    width: 80%;
    /* border: 1px solid grey; */
    height: auto;
    margin-left: 22%;
    box-sizing: border-box;
    overflow-x:hidden ;
    min-height: 100vh;
}





.donate{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.donate-btn {
    background-color: rgb(254, 179, 30);
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.donate-btn p {
    font-size: 15px;
}
.donate-btn:hover{
    background: transparent;
    border: 2px solid  rgb(254, 179, 30);
    color:  rgb(254, 179, 30);
    transition: all 0.4s ease-in-out;
}
.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 30px;
}

.campaign-item {
    width: 45%;
    padding: 10px;
    /* border: 0.5px solid rgb(209, 207, 207); */
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px 4px rgb(228, 226, 226)
}

.item-image {
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    overflow: hidden;
}

.item-image img {
    width: 100%;
    height: 100%;
}

.lower {
    width: 90%;
    margin: auto;
}

.campaign-item h3 {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 20px;
}

.campaign-info {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.info p {
    font-size: 13px;
    font-weight: 900;
    padding-bottom: 10px;
    color: grey;
}

.progressbar {
    width: 90%;
    height: 15px;
    box-sizing: border-box;
    background-color: rgba(231, 225, 225, 0.377);
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 75%;
    background-color: rgb(254, 179, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.progress p {
    font-size: 12px;
    font-weight: 900;
    color: white;
}

.lowest {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
}

.recent-campaign .donate-btn {
    height: 40px;
    width: 30%;
    justify-content: center;
    font-weight: 900;
    color: white;
}

.program-details {
    height: 40px;
    width: 30%;
    border: 2px solid rgb(254, 179, 30);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 30px;
    color: rgb(254, 179, 30);
    font-weight: 900;
    font-size: 14px;
}
.program-details p{
    font-size: 14px;
    font-weight: 500;
}




/* =============== Donation Request   ===============*/
.donation-request{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.donation-request .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.donation-request .content .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
.donation-request .content .head h1{
    font-weight: 600;
}
.donation-request .content table{
    width: 92%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 7px 68px 5px rgb(231, 229, 229);
}
.donation-request .content table tbody{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgb(231, 231, 231);
    border-radius: 10px;
    overflow: hidden;
}
.donation-request .content table tr{
    width: 100%;
    border-left: 0.5px solid rgb(231, 231, 231);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donation-request .content table tr th{
    background-color:rgb(254, 179, 30);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 75px;
    width: 15%;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donation-request .content table td{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 150px;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    width: 15%;
    flex-direction: column;
}
.donation-request .content table td img{
    width: 100%;
    height: 100%;
}
.donation-request .content table td form{
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
}
.donation-request .content table td form button{
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#approve{
    background-color: rgb(45, 153, 38);
}
#reject{
    background-color: rgb(244, 37, 37);
}



/*================== Track Donation ==================*/

.track-donation{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.track-donation .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.track-donation .content .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
.track-donation .content .head h1{
    font-weight: 600;
}
.track-donation .content table{
    width: 92%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 7px 68px 5px rgb(231, 229, 229);
}
.track-donation .content table tbody{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgb(231, 231, 231);
    border-radius: 10px;
    overflow: hidden;
}
.track-donation .content table tr{
    width: 100%;
    border-left: 0.5px solid rgb(231, 231, 231);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-donation .content table tr th{
    background-color:rgb(254, 179, 30);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 75px;
    width: 15%;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.track-donation .content table td{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 150px;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    width: 15%;
    flex-direction: column;
}

/*======================= Transaction ================*/

.transaction{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.transaction .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.transaction .content .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
.transaction .content .head h1{
    font-weight: 600;
}
.transaction .content table{
    width: 92%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 7px 68px 5px rgb(231, 229, 229);
}
.transaction .content table tbody{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid rgb(231, 231, 231);
    border-radius: 10px;
    overflow: hidden;
}
.transaction .content table tr{
    width: 100%;
    border-left: 0.5px solid rgb(231, 231, 231);
    border-bottom: 0.5px solid rgb(231, 231, 231);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transaction .content table tr th{
    background-color:rgb(254, 179, 30);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 75px;
    width: 15%;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transaction .content table td{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 150px;
    box-sizing: border-box;
    border-right: 0.5px solid rgb(231, 231, 231);
    text-align: center;
    width: 15%;
    flex-direction: column;
}
.transaction  button{
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: green;
}



/*================================ Edit Profile ================================*/
.edit-profile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.edit-profile .container {
    width: 40%;
    height: auto;
    border: 1px solid rgb(206, 203, 203);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.edit-profile .container h1 {
    font-size: 20px;
    text-align: center;
}
.edit-profile form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 20px;
}

.edit-profile form p {
    color: rgb(248, 187, 47);
    text-align: left;
    width: 100%;
    font-size: 13px;
}
.edit-profile .input-feild{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.edit-profile label{
    padding-left: 5px;
}
.edit-profile input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid rgb(214, 210, 210);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

.edit-profile input:focus {
    outline: none;
    border-color: rgb(248, 187, 47);
    transition: all 0.4s ease-in-out;
    /* color:   rgb(248, 187, 47); */
}

.edit-profile input:focus::placeholder {
    color: rgb(248, 187, 47);
    transition: all 0.4s ease-in-out;
}
.edit-profile textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    border-radius: 10px;
    border: 0.5px solid rgb(214, 210, 210);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

.edit-profile textarea:focus {
    outline: none;
    border-color: rgb(248, 187, 47);
    transition: all 0.4s ease-in-out;
    /* color:   rgb(248, 187, 47); */
}

.edit-profile textarea:focus::placeholder {
    color: rgb(248, 187, 47);
    transition: all 0.4s ease-in-out;
}
.edit-profile button{
    width: 100px;
    height: 40px;
    background-color:  rgb(248, 187, 47);
    border: none;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
}
.edit-profile button:hover{
    background-color: transparent;
    color: rgb(248, 187, 47);
    border: 2px solid  rgb(248, 187, 47);
}
.edit-profile .edit-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.edit-profile .profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(210, 207, 207);
}
.edit-profile .profile-img img{
    width: 100%;
    height: 100%;
}